Reading data from Analyzing the dataset

In [63]:
import pandas as pd

df = pd.read_csv('loan.csv')

df.shape

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

C:\Users\amara\AppData\Local\Temp\ipykernel_5492\1947706177.py:3: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan.csv')

# Identifying missing values

In [64]:
missingData = round(100*(df.isnull().sum()/len(df.id)), 2)
missingData.loc[missingData > 0]

missingData = list(missingData[missingData >= 50].index)

## Removing Coloums where the 50% of data is not there

In [65]:
cleanedloan = df.drop(missingData,axis=1)

cleanedloan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26775 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  open_acc                    39717 non-null  int64
 29  pub_rec                     39717 non-null  int64
 30  revol_bal                   39717 non-null  int64
 31  revol_util                  39667 non-null  object
 32  total_acc                   39717 non-null  int64
 33  initial_list_status         39717 non-null  object
 34  out_prncp                   39717 non-null  float64
 35  out_prncp_inv               39717 non-null  float64
 36  total_pymnt                 39717 non-null  float64
 37  total_pymnt_inv             39717 non-null  float64
 38  total_rec_prncp             39717 non-null  float64
 39  total_rec_int               39717 non-null  float64
 40  total_rec_late_fee          39717 non-null  float64
 41  recoveries                  39717 non-null  float64
 42  collection_recovery_fee     39717 non-null  float64
 43  last_pymnt_d                39646 non-null  object
 44  last_pymnt_amnt             39717 non-null  float64
 45  last_credit_pull_d          39715 non-null  object
 46  collections_12_mths_ex_med  39661 non-null  float64
 47  policy_code                 39717 non-null  int64
 48  application_type            39717 non-null  object
 49  acc_now_delinq              39717 non-null  int64
 50  chargeoff_within_12_mths    39661 non-null  float64
 51  delinq_amnt                 39717 non-null  int64
 52  pub_rec_bankruptcies        39020 non-null  float64
 53  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(23)
memory usage: 16.4+ MB

## Identify only unique records

In [66]:
print("unique emp_title : %d"  % len(cleanedloan.emp_title.unique()))
print("unique emp_length : %d"  % len(cleanedloan.emp_length.unique()))
print("unique title : %d"  % len(cleanedloan.title.unique()))
print("unique revol_util : %d"  % len(cleanedloan.revol_util.unique()))
print("unique title : %d"  % len(cleanedloan.title.unique()))
print("unique last_pymnt_d : %d"  % len(cleanedloan.last_pymnt_d.unique()))
print("unique last_credit_pull_d : %d"  % len(cleanedloan.last_credit_pull_d.unique()))
print("unique collections_12_mths_ex_med : %d"  % len(cleanedloan.collections_12_mths_ex_med.unique()))
print("unique chargeoff_within_12_mths : %d"  % len(cleanedloan.chargeoff_within_12_mths.unique()))
print("unique pub_rec_bankruptcies : %d"  % len(cleanedloan.pub_rec_bankruptcies.unique()))
print("unique tax_liens : %d"  % len(cleanedloan.tax_liens.unique()))

unique emp_title : 28821
unique emp_length : 12
unique title : 19616
unique revol_util : 1090
unique title : 19616
unique last_pymnt_d : 102
unique last_credit_pull_d : 107
unique collections_12_mths_ex_med : 2
unique chargeoff_within_12_mths : 2
unique pub_rec_bankruptcies : 4
unique tax_liens : 2

## Remove Data colums which have same values and NA

In [77]:
print(cleanedloan.emp_length.unique())
print(cleanedloan.collections_12_mths_ex_med.unique())
print(cleanedloan.chargeoff_within_12_mths.unique())
print(cleanedloan.pub_rec_bankruptcies.unique())
print(cleanedloan.tax_liens.unique())

drop_columnlist = ['collections_12_mths_ex_med', 'chargeoff_within_12_mths', 'tax_liens']
cleanedloandata = cleanedloan.drop(drop_columnlist,axis=1)
cleanedloandata.shape

['10+ years' '< 1 year' '1 year' '3 years' '8 years' '9 years' '4 years'
 '5 years' '6 years' '2 years' '7 years' nan]
[ 0. nan]
[ 0. nan]
[ 0.  1.  2. nan]
[ 0. nan]

(39717, 51)

pub_rec_bankruptcies categorical column with 1.76% missing data and 33.125% of description is missing data, these data more or less is avaiable in the title, columns emp_title, emp_length have 6.19% and 2.75% missing values, these tw values are important to derive bad loan or good loan, removing the rows where the data is empty.

In [78]:

cleanedloandata = cleanedloandata.drop('desc',axis=1)

cleanedloandata.pub_rec_bankruptcies.value_counts()
loanDataOuput=cleanedloandata[~cleanedloandata.pub_rec_bankruptcies.isnull()]

missing = round(100*(loanDataOuput.isnull().sum()/len(loanDataOuput.id)), 2) 
missing[missing != 0]


loanDataOuput=loanDataOuput[~loanDataOuput.emp_title.isnull()]
loanDataOuput=loanDataOuput[~loanDataOuput.emp_length.isnull()]
loanDataOuput=loanDataOuput[~loanDataOuput.title.isnull()]
loanDataOuput=loanDataOuput[~loanDataOuput.revol_util.isnull()]
loanDataOuput=loanDataOuput[~loanDataOuput.last_pymnt_d.isnull()]

missing =round(100*(loanDataOuput.isnull().sum()/len(loanDataOuput.id)), 2) 
missing[missing != 0]

Series([], dtype: float64)

## Data Cleaning
round off the decimals to last 2 digits and convert the datatimes object to datatime and also convert the object data to float

In [83]:
loanDataOuput.to_csv('clean_Data.csv', encoding='utf-8', index=False)

cleanLoanData = loanDataOuput[:]

cleanLoanData.total_pymnt= round(cleanLoanData.total_pymnt,2)
cleanLoanData.total_rec_late_fee= round(cleanLoanData.total_rec_late_fee,2)
cleanLoanData.collection_recovery_fee= round(cleanLoanData.collection_recovery_fee,2)

cleanLoanData.issue_d = pd.to_datetime(cleanLoanData.issue_d, format='%b-%y')
cleanLoanData.earliest_cr_line = pd.to_datetime(cleanLoanData.earliest_cr_line, format='%b-%y')
cleanLoanData.last_pymnt_d = pd.to_datetime(cleanLoanData.last_pymnt_d, format='%b-%y')
cleanLoanData.last_credit_pull_d = pd.to_datetime(cleanLoanData.last_credit_pull_d, format='%b-%y')

cleanLoanData['int_rate'] = cleanLoanData['int_rate'].str.strip('%').astype('float')
cleanLoanData['revol_util'] = cleanLoanData['revol_util'].str.strip('%').astype('float')

<class 'pandas.core.frame.DataFrame'>
Index: 36433 entries, 1 to 39680
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   issue_d             36433 non-null  datetime64[ns]
 1   earliest_cr_line    36433 non-null  datetime64[ns]
 2   last_pymnt_d        36433 non-null  datetime64[ns]
 3   last_credit_pull_d  36433 non-null  datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 1.4 MB

## Data Transformations

Transform Data which can give meaningful results

In [85]:
emp_length_dict = {
    '< 1 year' : 0,
    '1 year' : 1,
    '2 years' : 2,
    '3 years' : 3,
    '4 years' : 4,
    '5 years' : 5,
    '6 years' : 6,
    '7 years' : 7,
    '8 years' : 8,
    '9 years' : 9,
    '10+ years' : 10
}

clean_loan = loanDataOuput.replace({"emp_length": emp_length_dict })

clean_loan.emp_length.value_counts()

clean_loan['term'] = clean_loan.term.apply(lambda x: x.split()[0])
clean_loan.term.value_counts()

term
36    26377
60    10056
Name: count, dtype: int64